<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>V-if</title>
</head>
<body>
    <div id="app">
        <p v-if="show">显示</p>
        <p v-if="hide">隐藏</p>
        <p v-if="height > 1.5">小明身高：{{ height}}m</p>
        <p v-if="height > 1.6">小xiao身高：{{ height}}m</p>
    </div>
    <script src="../../static/Vue.js"></script>
    <script>
    new Vue({
        el:"#app",
        data:{
            show:true,
            hide:false,
            height:1.6
        }
    })
    </script>
</body>
</html>